.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-image: linear-gradient(
    to right,
    #000e31 0%,
    #055aba 51%,
    #2be3fd 100%
  );
  color: var(--primary-clr);
  padding: 1rem;
  font-weight: bold;
  text-align: center;
  border-radius: 0.5rem;
  transition: opacity 0.3s;
}

.button:hover {
  opacity: 0.9;
}

@media (max-width: 1100px) {
  .button {
    font-size: 1.1rem;
  }
}
