:root {
  --bg-clr: #080808;
  --primary-clr: #f9f9f9;
  --second-clr: #4a0198;
  --accent-clr: #2374c8;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  list-style-type: none;
  background-color: var(--bg-clr);
  color: var(--primary-clr);
  line-height: 1.5;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}
