.main {
  padding-block: 2rem;
  padding-inline: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main h1 {
  text-align: center;
}

.buttonGroupHero {
  display: grid;
  margin-inline: auto;
  width: 100%;
  max-width: 1200px;
}

.firstCard,
.secondCard,
.thirdCard,
.fourthCard,
.fifthCard {
  max-width: fit-content;
  border-radius: 1.5rem;
  padding: 1rem;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  gap: 2rem;
  max-width: 1200px;
  border: 1px solid var(--accent-clr);
}

.secondCard {
  flex-direction: row-reverse;
}

.home h2 {
  text-align: center;
  text-transform: uppercase;
}

.vitorImg {
  border-radius: 1.5rem;
}

.subtitle {
  text-decoration: underline;
}

.subtitle,
.textImgGordo {
  margin-block-end: 1rem;
  text-align: center;
  text-transform: uppercase;
  background-color: #4a0198;
  max-width: fit-content;
  display: flex;
  justify-content: center;
  margin-inline: auto;
}

.homeInfo {
  text-align: justify;
  font-size: 1.2rem;
}

.buttonGroup {
  display: grid;
  margin-block-start: 1.2rem;
  margin-inline: auto;
  width: 100%;
  max-width: 1200px;
}

.buttonGroup h2 {
  font-size: 1.2rem;
  text-align: center;
  margin-block-end: 0.5rem;
}

.buttonGroup a,
.buttonGroupHero a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--accent-clr);
  color: var(--primary-clr);
  padding: 1rem;
  margin-block-start: 0.3rem;
  font-weight: bold;
  text-align: center;
  border-radius: 0.5rem;
  transition: opacity 0.3s;
}

.buttonGroup a:hover,
.buttonGroupHero a:hover {
  opacity: 0.9;
}

@media (max-width: 1100px) {
  .main h1 {
    font-size: 1.6rem;
  }

  .firstCard,
  .secondCard,
  .thirdCard,
  .fourthCard,
  .fifthCard {
    flex-direction: column;
  }

  .vitorImg {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    max-width: auto;
    height: auto;
  }

  .vitorImgGordo {
    max-width: 250px;
    height: 250px;
    box-shadow: 12px 12px 20px 0px #000000;
  }

  .textImgGordo {
    margin-block-start: 1rem;
    font-size: 1.2rem;
  }

  .homeInfoGroup p {
    margin-block-end: 1rem;
  }

  .homeInfoGroup h2 {
    font-size: 1.25rem;
  }

  .homeInfo span {
    text-decoration: underline;
  }

  .buttonGroup a {
    font-size: 1rem;
  }
}
