.sliderGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  width: 100%;
  max-width: 1200px;
  margin-block-end: 5rem;
}

.sliderGroup h2 {
  text-align: center;
  margin-block: 1rem;
  color: var(--primary-clr);
}

.sliderImg {
  max-width: auto;
  height: auto;
  border-radius: 1rem;
  margin-left: 0;
}
